{% extends "./base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <div style="text-align: center" class="container">
        <div class="header"></div>
        {% if form %}
            <form action="{% url 'signup_action' %}" method="POST">
                <h2>Регистрация</h2>
                {% csrf_token %}
                {{ form }}
                <br>
                <input type="submit" value="Зарегистрироваться">
            </form>
        {% endif %}
        <br>
    </div>
{% endblock %}